---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="À propos | Glenn Grobli" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
			>
				<img
					width="1553"
					height="873"
					src="/assets/working.jpg"
					alt="Glenn at work at school"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Je suis diplômé d'une école d'ingénieur généraliste avec une majeure en intelligence artificielle. Passionné par la logique de la programmation et fasciné par les possibilités qu'offre l'IA, je me suis naturellement orienté vers ce domaine innovant, au cœur des mutations technologiques actuelles.
					</p>
					<p>
						Enrichie par une alternance chez RTE en tant que data scientist junior, ma spécialisation a porté sur mes deux dernières années d’études. J’y ai développé des compétences solides en machine learning, en traitement de données et en modélisation, à travers des projets concrets et à forte valeur ajoutée. (Voir la section Projets pour en savoir plus.)
					</p>
					<p>
						Côté tempérament, on me décrit comme quelqu’un de logique, rigoureux et ingénieux, capable de s’adapter à différents contextes. J’aime autant travailler en autonomie qu’en équipe, et je cherche toujours à équilibrer rigueur analytique et créativité dans ce que j’entreprends.
					</p>
					<p>
						En dehors de l’IA, je cultive plusieurs centres d’intérêt : horlogerie, escalade, trek et production musicale. J’ai aussi fait dix ans de scoutisme, une expérience marquante qui a renforcé mon goût pour l’aventure, l'adaptation et le travail en équipe. Enfin, je suis actif dans une association dédiée au voyage, à la découverte et à la restauration du patrimoine.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formation</h2>
				<div class="content">
					<p>2020-2025 : Cursus Ingénieur, ESILV, La Défense</p>
					<p>2022 : Semestre d'échange en Corée du Sud, Chung-Ang University, Seoul</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Outils maitrisés</h2>
				<div class="content">
					<p>python | SQL | C# | C++ | Bash</p>
					<p>Github | PowerBI | Tableau | Linux</p>
					<p>Suite Office | SolidWorks</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
